.banner {
    background-image: url("https://i.pinimg.com/originals/3b/d5/74/3bd5746f86e76ef4b92373c952227bfe.jpg");
    height: 500px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
  }